*{
    margin: 0 auto;
}
header{
    margin: auto;
    width: 50%;
    height: 60px;
    background-color: lightskyblue;

}


.arancio{
    display: flex;
    background-color: orange;
    border-style: Dashed;
    height: 50%;
    width: auto;
    box-sizing: border-box;
    
}
.cella{
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    text-align: center;
}
